@font-face {
    font-family: 'ProdSans';
    src: url('productsansbold.woff2') format('woff2');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'ProdSans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: sticky;
}

.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: #141414;
  padding: 20px 0px;
  position: sticky;
}

.wrapper .sidebar h2{
  color: #fff;
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: inline-block;
}

.wrapper .sidebar ul li a .fas{
  width: 0px;
}

.wrapper .sidebar ul li:hover{
  background-color: #2c52cf;
  display: flex;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 0px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}

li {
  justify-content: center;
  text-align: center;
}
